body {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

header {
  justify-content: center;
  width: 30%;
  background-color: grey;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "DM serif display";
}

h3 {
  border-bottom: 1px solid white;
}

table td {
  border: 1px solid;
}

ul {list-style-type: none;}

h1, h2 {
  text-align: center;
}
